body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  padding: 15px;
}

dl,dt,dd { margin: 0; padding: 0; }
dt { font-weight: bold; }
dd { margin-left: 20px; }

#text {
  font-family: monospace;
  font-size: 12px;
}
